<h3>Bonjour!</h3>

<p>
    Merci de vous être inscrit sur notre site. Veuillez cliquer sur le lien ci-dessous pour confirmer votre compte: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer votre adresse mail</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

