{% extends 'base.html.twig' %}

{% block title %}Ajout d'une figure | SnowTricks{% endblock %}

{% block body %}
<section class="py-4">
    <div class="container px-4 my-4 text-center wrap">
        <form class="text-center">
            <h1 class="h3 mb-5 font-weight-normal">Ajouter une figure</h1>
            <div class="mb-5 mx-5">
                <label for="figureName" class="form-label">Nom de la figure :</label>
                <input type="text" class="form-control mr-3" id="figureName" name="figureName" required>
            </div>
            <div class="mb-5 mx-5">
                <label for="figureDescription" class="form-label">Description :</label>
                <textarea class="form-control" id="figureDescription" name="figureDescription" rows="15" required></textarea>
            </div>
            <div class="mb-5 mx-5">
                <label for="figureCategory" class="form-label">Catégorie de la figure :</label>
                <select class="form-select" id="figureCategory" name="figureCategory" required>
                    <option value="grabs">Grabs</option>
                    <option value="flips">Flips</option>
                </select>
            </div>
            <div class="mb-5 mx-5">
                <label for="figureImages" class="form-label">Ajout d'illustration(s) :</label>
                <input type="file" class="form-control" id="figureImages" name="figureImages" multiple>
            </div>
            <div class="mb-5 mx-5">
                <label for="figureVideos" class="form-label">Ajout de vidéo(s) :</label>
                <input type="url" class="form-control" id="figureVideos" name="figureVideos" placeholder="URL de la vidéo">
            </div>
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </form>
    </div>
</section>
{% endblock %}