{% extends 'base.html.twig' %}

{% block title %}Réinitalisation du mot de passe | SnowTricks{% endblock %}

{% block body %}
<div style="display: flex; justify-content: center; align-items: center; min-height: 100vh">
    <div class="wrap py-4 bg-white overflow-hidden col-12 col-md-8 col-lg-6 col-xl-4">
        <form method="post">
            <h1 class="h3 mb-3 font-weight-normal">Réinitialiser son mot de passe</h1>
            <label for="inputEmail">Nom d'utilisateur</label>
            <input type="username" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
            <label for="inputPassword">Nouveau mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="inscription mt-4">
                <button class="btn btn-primary" type="submit">Envoyer</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
