{% extends 'base.html.twig' %}

{% block title %}Page introuvable | SnowTricks{% endblock %}

{% block body %}
    <div style="display: flex; justify-content: center; align-items: center; min-height: 100vh">
        <div class="wrap py-4 bg-white overflow-hidden col-12 col-md-8 col-lg-6 col-xl-4">
            <img class="card-img-top" src="{{ asset('assets/img/erreur-404.png') }}" alt="..." />
        </div>
    </div>
{% endblock %}